{{!-- 404 error  --}}
    {{>Ecommlink}}
    <div class="clv_main_wrapper index_v3 about_page">
        {{>Ecommnavbar}}
    <!--Breadcrumb-->
    <div class="breadcrumb_wrapper">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <div class="breadcrumb_inner">
                        <h3>404 error</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="breadcrumb_block">
            <ul>
                <li><a href="/">home</a></li>
                <li>404 error</li>
            </ul>
        </div>
    </div>
    <!--404-->
    <div class="error_wrapper clv_section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-">
                    <div class="error_block">
                        <div class="error_image">
                            <h2>404</h2>
                            <img src="images/404_veg.png" alt="image" class="veg_img" >
                            <img src="images/404_shape.png" alt="image" class="shape_img" >
                        </div>
                        <div class="error_content">
                            <h3><span>oops...</span> page not found</h3>
                            <p>look like something was wrong we're working on it</p>
                            <a href="/" class="clv_btn">back to home</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Footer-->
   {{>Ecommfooter}}

</div>
