{{!-- about us  --}}
    {{>Ecommlink}}
    <div class="clv_main_wrapper index_v3 about_page">
        {{>Ecommnavbar}}
        <!--Breadcrumb-->
        <div class="breadcrumb_wrapper">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-4">
                        <div class="breadcrumb_inner">
                            <h3>about us</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="breadcrumb_block">
                <ul>
                    <li><a href="/">home</a></li>
                    <li>about us</li>
                </ul>
            </div>
        </div>
        <!--About-->
        <div class="dairy_about_wrapper clv_section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-6">
                        <div class="clv_heading">
                            <h3>welcome to our farm!</h3>
                            <div class="clv_underline"><img src="images/dairy_underline3.png" alt="image" /></div>
                            <p>Consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dole magna aliqua. Ut enim ad minim veniam quis nostrud exercitation.</p>
                        </div>
                    </div>
                </div>
                <div class="dairy_about_inner">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="about_img">
                                <img src="images/dairy_about.jpg" alt="image" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="about_content">
                                <div class="about_heading">
                                    <h2>About Our <span>Dairy Farm</span></h2>
                                    <div class="clv_underline"><img src="images/dairy_underline2.png" alt="image" /></div>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporcididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitatiamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in repreheenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecaeeiat cupidatat non proidentsunt in culpa qui officia</p>
                                <p>voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae.</p>
                                <a href="javascript:;" class="clv_btn2">read more</a>
                                <div class="dairy_counter_wrapper">
                                    <div class="dairy_counter_block">
                                        <div class="counter_text">
                                            <h4><span class="count_no" data-to="26" data-speed="3000">26</span><span>k+</span></h4>
                                            <h5>happy customers</h5>
                                        </div>
                                        <img src="images/dairy_counter_Icon1.png" alt="image" />
                                    </div>
                                    <div class="dairy_counter_block">
                                        <div class="counter_text">
                                            <h4><span class="count_no" data-to="700" data-speed="3000">700</span><span>+</span></h4>
                                            <h5>project complete</h5>
                                        </div>
                                        <img src="images/dairy_counter_Icon2.png" alt="image" />
                                    </div>
                                    <div class="dairy_counter_block">
                                        <div class="counter_text">
                                            <h4><span class="count_no" data-to="200" data-speed="3000">200</span><span>+</span></h4>
                                            <h5>world wide branch</h5>
                                        </div>
                                        <img src="images/dairy_counter_Icon3.png" alt="image" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Dairy Service-->
        <div class="dairy_service_wrapper clv_section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="service_content">
                            <div class="service_heading">
                                <h3>why choose us</h3>
                                <div class="clv_underline"><img src="images/dairy_underline2.png" alt="image" /></div>
                                <!-- Add Arrows -->
                                <div class="service_arrow_block">
                                    <span class="dairy_service_arrow dairy_service_left">
                                        <svg 
                                         xmlns="http://www.w3.org/2000/svg"
                                         xmlns:xlink="http://www.w3.org/1999/xlink"
                                         width="10px" height="15px">
                                        <path fill-rule="evenodd"  fill="rgb(226, 226, 226)"
                                         d="M0.324,8.222 L7.117,14.685 C7.549,15.097 8.249,15.097 8.681,14.685 C9.113,14.273 9.113,13.608 8.681,13.197 L2.670,7.478 L8.681,1.760 C9.113,1.348 9.113,0.682 8.681,0.270 C8.249,-0.139 7.548,-0.139 7.116,0.270 L0.323,6.735 C0.107,6.940 -0.000,7.209 -0.000,7.478 C-0.000,7.747 0.108,8.017 0.324,8.222 Z"/>
                                        </svg>
                                    </span>
                                    <span class="dairy_service_arrow dairy_service_right">
                                        <svg 
                                         xmlns="http://www.w3.org/2000/svg"
                                         xmlns:xlink="http://www.w3.org/1999/xlink"
                                         width="19px" height="25px">
                                        <path fill-rule="evenodd" fill="rgb(226, 226, 226)"
                                         d="M13.676,13.222 L6.883,19.685 C6.451,20.097 5.751,20.097 5.319,19.685 C4.887,19.273 4.887,18.608 5.319,18.197 L11.329,12.478 L5.319,6.760 C4.887,6.348 4.887,5.682 5.319,5.270 C5.751,4.861 6.451,4.861 6.884,5.270 L13.676,11.735 C13.892,11.940 14.000,12.209 14.000,12.478 C14.000,12.747 13.892,13.017 13.676,13.222 Z"/>
                                        </svg>
                                    </span>
                                </div>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporcididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitatiamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                            <p>Duis aute irure dolor in repreheenderit in voluptate velit esse cillum dolore  fugiat nulla pariatur. Excepteur sint occaecaeeiat cupidatat</p>
                            <ul>
                                <li>
                                    <p><span><i class="fa fa-angle-right" aria-hidden="true"></i></span>Expert & Professional Farm</p>
                                </li>
                                <li>
                                    <p><span><i class="fa fa-angle-right" aria-hidden="true"></i></span>We are Award Winning Firm</p>
                                </li>
                                <li>
                                    <p><span><i class="fa fa-angle-right" aria-hidden="true"></i></span>Fully Satisfaction Guarantee</p>
                                </li>
                                <li>
                                    <p><span><i class="fa fa-angle-right" aria-hidden="true"></i></span>80 + Successfull Projects done</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="dairy_service_slider">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="dairy_service_slide"><img src="images/service_slide1.jpg" alt="image" /></div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="dairy_service_slide"><img src="images/service_slide2.jpg" alt="image" /></div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="dairy_service_slide"><img src="images/service_slide3.jpg" alt="image" /></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
        <!--Footer-->
 {{>Ecommfooter}}
</div>
