{{!-- blog --}}
{{>Ecommlink}}
<div class="clv_main_wrapper index_v3 about_page">
    {{>Ecommnavbar}}
    <!--Breadcrumb-->
    <div class="breadcrumb_wrapper">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <div class="breadcrumb_inner">
                        <h3>blog single</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="breadcrumb_block">
            <ul>
                <li><a href="/">home</a></li>
                <li>blog single</li>
            </ul>
        </div>
    </div>
    <!--Blog With Sidebar-->
    <div class="blog_sidebar_wrapper clv_section blog_single_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-9">
                    <div class="blog_left_section">
                        <div class="blog_section">
                            <div class="agri_blog_image">
                                <img src="images/blog_main_big1.jpg" alt="image">
                                <span class="agri_blog_date">jan 06, 2021</span>
                            </div>
                            <div class="agri_blog_content">
                                <h3><a href="blog_single.html">France bans metam-sodium sprays</a></h3>
                                <div class="blog_user">
                                    <div class="user_name">
                                        <img src="images/user.png" alt="image">
                                        <a href="javascript:;"><span>john doe</span></a>
                                    </div>
                                    <div class="comment_block">
                                        <span><i class="fa fa-comments-o" aria-hidden="true"></i></span>
                                        <a href="javascript:;">26 comments</a>
                                    </div>
                                </div>
                                <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                                    magna aliqua Ut enim ad minim venia quis nostrud exercitation ullamco laboris nisi
                                    ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit iluptate
                                    velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                                    non proident, sunt in culpa qui ofa deserunt mollit anim id est laborum. Sed ut
                                    perspiciatis unde.</p>
                                <p class="mt-3">omnis iste natus error sit voluptatem accusantium doloreme laudantiuem
                                    totam rem aperiam, eaque ipsa quereae ab illreyio inventore veritatis et quasi
                                    architecto beatae vitae dicta sunt explicabo. Nemreeo enim ipsam voluptatem quia
                                    voluptartrs sit aspernatur aut odit aut fugit architecto beatae vitae dicta sunt
                                    explicabo. Nemfhgrw Nemreeo enim ipsam voluptat Nemreeo</p>
                                <div class="single_content_wrapper">
                                    <img src="images/single_content.jpg" alt="image">
                                    <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                                        doloertfire magna aliqua Ut enim ad minim venia quis nostrud exercitation
                                        ullamco labories nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                                        in reprehenderit iluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                        Excepteur sint occaecat cupidatatderesf igd noern proident, sunt in culpa qui
                                        ofa deserunt mollit anim id est laborum. Sedrersfsare perspiciatis unde omnis
                                        iste natus error sit voluptatem accusantium doloreer sfeme ut laudantiuem totam
                                        rem aperiam, eaque ipsa quae ab illo inventore veritatis et qsriuasi architecto
                                        beatae vitae dicta sunt explicabo. Nemreeo enim ipsam voluptatreem qeuia
                                        voluptas sit aspernatur aut odit aut fugit architecto beatae vitae dicta sunt
                                        explicaebo.</p>
                                </div>
                                <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                                    magna aliqua Ut enim ad minim venia quis nostrud exercitation ullamco laboris nisi
                                    ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit iluptate
                                    velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                <p class="mt-3">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui ofa
                                    deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error
                                    sit voluptatem accusantium doloreme laudantiuem totam rem aperiam, eaque ipsa quae
                                    ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                    Nemreeo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit
                                    architecto beatae vitae dicta sunt explicabo. Nemfhgrw</p>
                                <div class="blog_message">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                        incididunt ut labore etdolore magna aliqua. Ut enim ad minim veniam, quis
                                        nostrud exercitation ullamco laboris nisi ut aliquip ex eacommodo consequat.
                                        Duis aute irure dolor in reprehenderit in</p>
                                    <img src="images/message_quotes.png" alt="image">
                                </div>
                                <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                                    magna aliqua Ut enim ad minim venia quis nostrud exercitation ullamco laboris nisi
                                    ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit iluptate
                                    velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                                    non proident, sunt in culpa qui ofa deserunt mollit anim id est laborum. Sed ut
                                    perspiciatis unde.</p>
                            </div>
                            <div class="author_message_box">
                                <div class="author_image">
                                    <img src="images/author.jpg" alt="image">
                                </div>
                                <div class="author_content">
                                    <div class="social_name">
                                        <h3>admin by - <span>john doe</span></h3>
                                        <ul>
                                            <li><a href="javascript:;"><span><i class="fa fa-facebook"
                                                            aria-hidden="true"></i></span></a></li>
                                            <li><a href="javascript:;"><span><i class="fa fa-youtube-play"
                                                            aria-hidden="true"></i></span></a></li>
                                            <li><a href="javascript:;"><span><i class="fa fa-twitter"
                                                            aria-hidden="true"></i></span></a></li>
                                            <li><a href="javascript:;"><span><i class="fa fa-linkedin"
                                                            aria-hidden="true"></i></span></a></li>
                                        </ul>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                        incididunt ut eer labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                        nostrud exercitation ullamco labris nisi ut aliquip ex ea commodo consequat.
                                    </p>
                                </div>
                            </div>
                            <div class="blog_single_heading">
                                <h3>comments <span>(03)</span></h3>
                                <img src="images/footer_underline.png" alt="image">
                            </div>
                            <div class="comment_section">
                                <ul>
                                    <li>
                                        <div class="comment_box">
                                            <div class="comment_image">
                                                <img src="images/comment1.jpg" alt="image">
                                            </div>
                                            <div class="comment_text">
                                                <div class="comment_header">
                                                    <div class="comment_name">
                                                        <h5>sophie isaac</h5>
                                                        <span>july 29, 2021</span>
                                                        <span>08:20am</span>
                                                    </div>
                                                    <a href="javascript:;">reply</a>
                                                </div>
                                                <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                                                    labore et dolore magna aliqua t enim ad minim veniam, quis nostrud
                                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                                    consequat. Duis aute irure dolor in reprehenderit in voluptate
                                                    exercitation ullamco laboris nisi ut aliquip e .</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="comment_box">
                                            <div class="comment_image">
                                                <img src="images/comment2.jpg" alt="image">
                                            </div>
                                            <div class="comment_text">
                                                <div class="comment_header">
                                                    <div class="comment_name">
                                                        <h5>rachel ruth</h5>
                                                        <span>july 29, 2021</span>
                                                        <span>08:20am</span>
                                                    </div>
                                                    <a href="javascript:;">reply</a>
                                                </div>
                                                <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                                                    labore et dolore magna aliqua t enim ad minim veniam, quis nostrud
                                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                                    consequat. Duis aute irure dolor in reprehenderit in voluptate
                                                    exercitation ullamco laboris nisi ut aliquip e .</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <ul>
                                            <li>
                                                <div class="comment_box">
                                                    <div class="comment_image">
                                                        <img src="images/comment3.jpg" alt="image">
                                                    </div>
                                                    <div class="comment_text">
                                                        <div class="comment_header">
                                                            <div class="comment_name">
                                                                <h5>gordon harry</h5>
                                                                <span>july 29, 2021</span>
                                                                <span>08:20am</span>
                                                            </div>
                                                            <a href="javascript:;">reply</a>
                                                        </div>
                                                        <p>Consectetur adipisicing elit, sed do eiusmod tempor
                                                            incididunt ut labore et dolore magna aliqua t enim ad minim
                                                            veniam, quis nostrud exercitation ullamco.</p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <div class="comment_box">
                                            <div class="comment_image">
                                                <img src="images/comment4.jpg" alt="image">
                                            </div>
                                            <div class="comment_text">
                                                <div class="comment_header">
                                                    <div class="comment_name">
                                                        <h5>james paul</h5>
                                                        <span>july 29, 2021</span>
                                                        <span>08:20am</span>
                                                    </div>
                                                    <a href="javascript:;">reply</a>
                                                </div>
                                                <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                                                    labore et dolore magna aliqua t enim ad minim veniam, quis nostrud
                                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                                    consequat. Duis aute irure dolor in reprehenderit in voluptate
                                                    exercitation ullamco laboris nisi ut aliquip e .</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="blog_single_heading">
                                <h3>leave a comments</h3>
                                <img src="images/footer_underline.png" alt="image">
                            </div>
                            <div class="comment_form">
                                <div class="row">
                                    <div class="col-md-6 col-lg-6">
                                        <div class="form_block">
                                            <input type="text" class="form_field" placeholder="First Name">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6">
                                        <div class="form_block">
                                            <input type="text" class="form_field" placeholder="Last Name">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6">
                                        <div class="form_block">
                                            <input type="text" class="form_field" placeholder="Email">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6">
                                        <div class="form_block">
                                            <input type="text" class="form_field" placeholder="Subject">
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-lg-12">
                                        <div class="form_block">
                                            <textarea placeholder="Message" class="form_field"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-lg-12">
                                        <div class="form_block">
                                            <button class="clv_btn">send</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="blog_sidebar">
                        <div class="sidebar_block">
                            <div class="sidebar_heading">
                                <h3>search</h3>
                                <img src="images/footer_underline.png" alt="image">
                            </div>
                            <div class="sidebar_search">
                                <input type="text" placeholder="Search here">
                                <a href="javascript:;"><i class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="sidebar_block">
                            <div class="sidebar_heading">
                                <h3>category</h3>
                                <img src="images/footer_underline.png" alt="image">
                            </div>
                            <div class="sidebar_category">
                                <ul>
                                    <li><a href="javascript:;">Organic Farming<span>(12)</span></a></li>
                                    <li><a href="javascript:;">Fresh Organic Mustard<span>(16)</span></a></li>
                                    <li><a href="javascript:;">Organic Green Bell Pepper<span>(156)</span></a></li>
                                    <li><a href="javascript:;">Permaculture<span>(260)</span></a></li>
                                    <li><a href="javascript:;">Precision Farming<span>(96)</span></a></li>
                                    <li><a href="javascript:;">Conservation Agriculture<span>(12)</span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="sidebar_block">
                            <div class="sidebar_heading">
                                <h3>recent post</h3>
                                <img src="images/footer_underline.png" alt="image">
                            </div>
                            <div class="sidebar_post">
                                <ul>
                                    <li>
                                        <div class="post_image">
                                            <img src="images/sidebar_post1.jpg" alt="image">
                                        </div>
                                        <div class="post_content">
                                            <p>jan 06, 2021</p>
                                            <a href="blog_single.html">how neem cells produce how useful chemicals
                                                paste.</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="post_image">
                                            <img src="images/sidebar_post2.jpg" alt="image">
                                        </div>
                                        <div class="post_content">
                                            <p>jan 06, 2021</p>
                                            <a href="blog_single.html">how neem cells produce how useful chemicals
                                                paste.</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="post_image">
                                            <img src="images/sidebar_post2.jpg" alt="image">
                                        </div>
                                        <div class="post_content">
                                            <p>jan 06, 2021</p>
                                            <a href="blog_single.html">how neem cells produce how useful chemicals
                                                paste.</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="sidebar_block">
                            <div class="sidebar_heading">
                                <h3>archives</h3>
                                <img src="images/footer_underline.png" alt="image">
                            </div>
                            <div class="sidebar_category">
                                <ul>
                                    <li><a href="javascript:;">August 2018<span>(12)</span></a></li>
                                    <li><a href="javascript:;">September 2018<span>(16)</span></a></li>
                                    <li><a href="javascript:;">October 2018<span>(156)</span></a></li>
                                    <li><a href="javascript:;">November 2018<span>(260)</span></a></li>
                                    <li><a href="javascript:;">December 2018<span>(96)</span></a></li>
                                    <li><a href="javascript:;">January 2021<span>(12)</span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="sidebar_block">
                            <div class="sidebar_test_slider">
                                <div class="swiper-container">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="sidebar_test_slide">
                                                <div class="test_slide_image">
                                                    <img src="images/sidebar_test1.jpg" alt="image">
                                                </div>
                                                <div class="test_slide_content">
                                                    <p>Consectetur adipiscing eliti sed do eiusmod tempor incididunt ut
                                                        labore et dolore magna aliqua. Quis ips suspendisse.</p>
                                                    <h5>merica ven</h5>
                                                    <img src="images/blogside_quote.png" alt="image">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="sidebar_test_slide">
                                                <div class="test_slide_image">
                                                    <img src="images/sidebar_test2.jpg" alt="image">
                                                </div>
                                                <div class="test_slide_content">
                                                    <p>incididunt ut labore et dolore magna aliquaConsectetur adipiscing
                                                        eliti sed do eiusmod tempor . Quis ips suspendisse.</p>
                                                    <h5>devid san</h5>
                                                    <img src="images/blogside_quote.png" alt="image">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="sidebar_arrow_wrapper">
                                        <span class="sidebar_test_arrow test_left">
                                            <i class="fa fa-angle-left" aria-hidden="true"></i>
                                        </span>
                                        <span class="sidebar_test_arrow test_right">
                                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar_block">
                            <div class="sidebar_heading">
                                <h3>tags</h3>
                                <img src="images/footer_underline.png" alt="image">
                            </div>
                            <div class="sidebar_tags">
                                <ul>
                                    <li><a href="javascript:;">Agriculture</a></li>
                                    <li><a href="javascript:;">farm</a></li>
                                    <li><a href="javascript:;">Organic</a></li>
                                    <li><a href="javascript:;">egg</a></li>
                                    <li><a href="javascript:;">Permaculture</a></li>
                                    <li><a href="javascript:;">Green</a></li>
                                    <li><a href="javascript:;">garden</a></li>
                                    <li><a href="javascript:;">milk</a></li>
                                    <li><a href="javascript:;">dairy farm</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Footer-->
    {{>Ecommfooter}}
</div>