{{!-- blog --}}
{{>Ecommlink}}
<div class="clv_main_wrapper index_v3 about_page">
	{{>Ecommnavbar}}
	<!--Breadcrumb-->
	<!--Breadcrumb-->
	<div class="breadcrumb_wrapper">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-4">
					<div class="breadcrumb_inner">
						<h3>blog category</h3>
					</div>
				</div>
			</div>
		</div>
		<div class="breadcrumb_block">
			<ul>
				<li><a href="/">home</a></li>
				<li>blog category</li>
			</ul>
		</div>
	</div>
	<!--Blog With Sidebar-->
	<div class="blog_sidebar_wrapper clv_section">
		<div class="container">
			<div class="row">
				<div class="col-lg-9 col-md-9">
					<div class="blog_left_section">
						<div class="blog_section">
							<div class="agri_blog_image">
								<img src="images/blog_main_big1.jpg" alt="image">
								<span class="agri_blog_date">jan 06, 2021</span>
							</div>
							<div class="agri_blog_content">
								<h3><a href="blog_single.html">France bans metam-sodium sprays</a></h3>
								<div class="blog_user">
									<div class="user_name">
										<img src="images/user.png" alt="image">
										<a href="javascript:;"><span>john doe</span></a>
									</div>
									<div class="comment_block">
										<span><i class="fa fa-comments-o" aria-hidden="true"></i></span>
										<a href="javascript:;">26 comments</a>
									</div>
								</div>
								<p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
									magna aliqua Ut enim ad minim venia quis nostrud exercitation ullamco laboris nisi
									ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit iluptate
									velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
									non proident, sunt in culpa qui ofa deserunt mollit anim id est laborum. Sed ut
									perspiciatis unde omnis iste natus error sit voluptatem accusantium doloreme
									laudantiuem totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
									architecto beatae vitae dicta sunt explicabo. Nemreeo enim ipsam voluptatem quia
									voluptas sit aspernatur aut odit aut fugit.</p>
								<a href="/blog">read more <span><i class="fa fa-long-arrow-right"
											aria-hidden="true"></i></span></a>
							</div>
						</div>
						<div class="blog_section">
							<div class="agri_blog_image">
								<img src="images/blog_main_big2.jpg" alt="image">
								<span class="agri_blog_date">jan 06, 2021</span>
							</div>
							<div class="agri_blog_content">
								<h3><a href="blog_single.html">France bans metam-sodium sprays</a></h3>
								<div class="blog_user">
									<div class="user_name">
										<img src="images/user.png" alt="image">
										<a href="javascript:;"><span>john doe</span></a>
									</div>
									<div class="comment_block">
										<span><i class="fa fa-comments-o" aria-hidden="true"></i></span>
										<a href="javascript:;">26 comments</a>
									</div>
								</div>
								<p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
									magna aliqua Ut enim ad minim venia quis nostrud exercitation ullamco laboris nisi
									ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit iluptate
									velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
									non proident, sunt in culpa qui ofa deserunt mollit anim id est laborum. Sed ut
									perspiciatis unde omnis iste natus error sit voluptatem accusantium doloreme
									laudantiuem totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
									architecto beatae vitae dicta sunt explicabo. Nemreeo enim ipsam voluptatem quia
									voluptas sit aspernatur aut odit aut fugit.</p>
								<a href="/blog">read more <span><i class="fa fa-long-arrow-right"
											aria-hidden="true"></i></span></a>
							</div>
						</div>
						<div class="blog_section">
							<div class="agri_blog_image">
								<img src="images/blog_main_big3.jpg" alt="image">
								<span class="agri_blog_date">jan 06, 2021</span>
							</div>
							<div class="agri_blog_content">
								<h3><a href="blog_single.html">France bans metam-sodium sprays</a></h3>
								<div class="blog_user">
									<div class="user_name">
										<img src="images/user.png" alt="image">
										<a href="javascript:;"><span>john doe</span></a>
									</div>
									<div class="comment_block">
										<span><i class="fa fa-comments-o" aria-hidden="true"></i></span>
										<a href="javascript:;">26 comments</a>
									</div>
								</div>
								<p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
									magna aliqua Ut enim ad minim venia quis nostrud exercitation ullamco laboris nisi
									ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit iluptate
									velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
									non proident, sunt in culpa qui ofa deserunt mollit anim id est laborum. Sed ut
									perspiciatis unde omnis iste natus error sit voluptatem accusantium doloreme
									laudantiuem totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
									architecto beatae vitae dicta sunt explicabo. Nemreeo enim ipsam voluptatem quia
									voluptas sit aspernatur aut odit aut fugit.</p>
								<a href="/blog">read more <span><i class="fa fa-long-arrow-right"
											aria-hidden="true"></i></span></a>
							</div>
						</div>
						<div class="blog_pagination_section">
							<ul>
								<li class="blog_page_arrow">
									<a href="javascript:;">
										<svg xmlns="http://www.w3.org/2000/svg"
											xmlns:xlink="http://www.w3.org/1999/xlink" width="10px" height="15px">
											<path fill-rule="evenodd" fill="rgb(112, 112, 112)"
												d="M0.324,8.222 L7.117,14.685 C7.549,15.097 8.249,15.097 8.681,14.685 C9.113,14.273 9.113,13.608 8.681,13.197 L2.670,7.478 L8.681,1.760 C9.113,1.348 9.113,0.682 8.681,0.270 C8.249,-0.139 7.548,-0.139 7.116,0.270 L0.323,6.735 C0.107,6.940 -0.000,7.209 -0.000,7.478 C-0.000,7.747 0.108,8.017 0.324,8.222 Z" />
										</svg>
										<span>prev</span>
									</a>
								</li>
								<li><a href="javascript:;">01</a></li>
								<li><a href="javascript:;">02</a></li>
								<li><a href="javascript:;">....</a></li>
								<li><a href="javascript:;">12</a></li>
								<li><a href="javascript:;">13</a></li>
								<li class="blog_page_arrow">
									<a href="javascript:;">
										<span>next</span>
										<svg xmlns="http://www.w3.org/2000/svg"
											xmlns:xlink="http://www.w3.org/1999/xlink" width="19px" height="25px">
											<path fill-rule="evenodd" fill="rgb(112, 112, 112)"
												d="M13.676,13.222 L6.883,19.685 C6.451,20.097 5.751,20.097 5.319,19.685 C4.887,19.273 4.887,18.608 5.319,18.197 L11.329,12.478 L5.319,6.760 C4.887,6.348 4.887,5.682 5.319,5.270 C5.751,4.861 6.451,4.861 6.884,5.270 L13.676,11.735 C13.892,11.940 14.000,12.209 14.000,12.478 C14.000,12.747 13.892,13.017 13.676,13.222 Z" />
										</svg>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-3">
					<div class="blog_sidebar">
						<div class="sidebar_block">
							<div class="sidebar_heading">
								<h3>search</h3>
								<img src="images/footer_underline.png" alt="image">
							</div>
							<div class="sidebar_search">
								<input type="text" placeholder="Search here">
								<a href="javascript:;"><i class="fa fa-search" aria-hidden="true"></i></a>
							</div>
						</div>
						<div class="sidebar_block">
							<div class="sidebar_heading">
								<h3>category</h3>
								<img src="images/footer_underline.png" alt="image">
							</div>
							<div class="sidebar_category">
								<ul>
									<li><a href="javascript:;">Organic Farming<span>(12)</span></a></li>
									<li><a href="javascript:;">Fresh Organic Mustard<span>(16)</span></a></li>
									<li><a href="javascript:;">Organic Green Bell Pepper<span>(156)</span></a></li>
									<li><a href="javascript:;">Permaculture<span>(260)</span></a></li>
									<li><a href="javascript:;">Precision Farming<span>(96)</span></a></li>
									<li><a href="javascript:;">Conservation Agriculture<span>(12)</span></a></li>
								</ul>
							</div>
						</div>
						<div class="sidebar_block">
							<div class="sidebar_heading">
								<h3>recent post</h3>
								<img src="images/footer_underline.png" alt="image">
							</div>
							<div class="sidebar_post">
								<ul>
									<li>
										<div class="post_image">
											<img src="images/sidebar_post1.jpg" alt="image">
										</div>
										<div class="post_content">
											<p>jan 06, 2021</p>
											<a href="blog_single.html">how neem cells produce how useful chemicals
												paste.</a>
										</div>
									</li>
									<li>
										<div class="post_image">
											<img src="images/sidebar_post2.jpg" alt="image">
										</div>
										<div class="post_content">
											<p>jan 06, 2021</p>
											<a href="blog_single.html">how neem cells produce how useful chemicals
												paste.</a>
										</div>
									</li>
									<li>
										<div class="post_image">
											<img src="images/sidebar_post2.jpg" alt="image">
										</div>
										<div class="post_content">
											<p>jan 06, 2021</p>
											<a href="blog_single.html">how neem cells produce how useful chemicals
												paste.</a>
										</div>
									</li>
								</ul>
							</div>
						</div>
						<div class="sidebar_block">
							<div class="sidebar_heading">
								<h3>archives</h3>
								<img src="images/footer_underline.png" alt="image">
							</div>
							<div class="sidebar_category">
								<ul>
									<li><a href="javascript:;">August 2018<span>(12)</span></a></li>
									<li><a href="javascript:;">September 2018<span>(16)</span></a></li>
									<li><a href="javascript:;">October 2018<span>(156)</span></a></li>
									<li><a href="javascript:;">November 2018<span>(260)</span></a></li>
									<li><a href="javascript:;">December 2018<span>(96)</span></a></li>
									<li><a href="javascript:;">January 2021<span>(12)</span></a></li>
								</ul>
							</div>
						</div>
						<div class="sidebar_block">
							<div class="sidebar_test_slider">
								<div class="swiper-container">
									<div class="swiper-wrapper">
										<div class="swiper-slide">
											<div class="sidebar_test_slide">
												<div class="test_slide_image">
													<img src="images/sidebar_test1.jpg" alt="image">
												</div>
												<div class="test_slide_content">
													<p>Consectetur adipiscing eliti sed do eiusmod tempor incididunt ut
														labore et dolore magna aliqua. Quis ips suspendisse.</p>
													<h5>merica ven</h5>
													<img src="images/blogside_quote.png" alt="image">
												</div>
											</div>
										</div>
										<div class="swiper-slide">
											<div class="sidebar_test_slide">
												<div class="test_slide_image">
													<img src="images/sidebar_test2.jpg" alt="image">
												</div>
												<div class="test_slide_content">
													<p>incididunt ut labore et dolore magna aliquaConsectetur adipiscing
														eliti sed do eiusmod tempor . Quis ips suspendisse.</p>
													<h5>devid san</h5>
													<img src="images/blogside_quote.png" alt="image">
												</div>
											</div>
										</div>
									</div>
									<div class="sidebar_arrow_wrapper">
										<span class="sidebar_test_arrow test_left">
											<i class="fa fa-angle-left" aria-hidden="true"></i>
										</span>
										<span class="sidebar_test_arrow test_right">
											<i class="fa fa-angle-right" aria-hidden="true"></i>
										</span>
									</div>
								</div>
							</div>
						</div>
						<div class="sidebar_block">
							<div class="sidebar_heading">
								<h3>tags</h3>
								<img src="images/footer_underline.png" alt="image">
							</div>
							<div class="sidebar_tags">
								<ul>
									<li><a href="javascript:;">Agriculture</a></li>
									<li><a href="javascript:;">farm</a></li>
									<li><a href="javascript:;">Organic</a></li>
									<li><a href="javascript:;">egg</a></li>
									<li><a href="javascript:;">Permaculture</a></li>
									<li><a href="javascript:;">Green</a></li>
									<li><a href="javascript:;">garden</a></li>
									<li><a href="javascript:;">milk</a></li>
									<li><a href="javascript:;">dairy farm</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--Footer-->
	{{>Ecommfooter}}
</div>