
  {{>Ecommlink}}

    <div class="clv_main_wrapper index_v3 gallery_page">
        {{>Ecommnavbar}}
        <!--Breadcrumb-->
        <div class="breadcrumb_wrapper">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-4">
                        <div class="breadcrumb_inner">
                            <h3>our gallery</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="breadcrumb_block">
                <ul>
                    <li><a href="/">home</a></li>
                    <li>gallery</li>
                </ul>
            </div>
        </div>
        <!--Dairy Gallery-->
        <div class="dairy_gallery_wrapper clv_section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-6">
                        <div class="clv_heading">
                            <h3>our gallery</h3>
                            <div class="clv_underline"><img src="images/dairy_underline3.png" alt="image" /></div>
                            <p>Consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dole magna aliqua. Ut enim ad minim veniam quis nostrud exercitation.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dairy_gallery_inner">
                <div class="row">
                    <div class="col-md-12">
                        <div class="gallery_slider">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="gallery_slide">
                                            <div class="gallery_grid">
                                                <div class="gallery_grid_item">
                                                    <div class="gallery_image">
                                                        <img src="/images/dairy_gallery1.jpg" alt="image" />
                                                        <div class="gallery_overlay">
                                                            <a href="/images/dairy_gallery_big1.jpg" class="view_image"><span><img src="images/gallery_plus.png" alt="image" /></span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="gallery_grid_item">
                                                    <div class="gallery_image">
                                                        <img src="/images/dairy_gallery3.jpg" alt="image" />
                                                        <div class="gallery_overlay">
                                                            <a href="/images/dairy_gallery_big3.jpg" class="view_image"><span><img src="images/gallery_plus.png" alt="image" /></span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="gallery_grid_item">
                                                    <div class="gallery_image">
                                                        <img src="/images/dairy_gallery6.jpg" alt="image" />
                                                        <div class="gallery_overlay">
                                                            <a href="/images/dairy_gallery_big6.jpg" class="view_image"><span><img src="images/gallery_plus.png" alt="image" /></span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="gallery_grid_item">
                                                    <div class="gallery_image">
                                                        <img src="/images/dairy_gallery8.jpg" alt="image" />
                                                        <div class="gallery_overlay">
                                                            <a href="/images/dairy_gallery_big8.jpg" class="view_image"><span><img src="images/gallery_plus.png" alt="image" /></span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="gallery_grid_item">
                                                    <div class="gallery_image">
                                                        <img src="/images/dairy_gallery5.jpg" alt="image" />
                                                        <div class="gallery_overlay">
                                                            <a href="/images/dairy_gallery_big5.jpg" class="view_image"><span><img src="images/gallery_plus.png" alt="image" /></span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="gallery_grid_item">
                                                    <div class="gallery_image">
                                                        <img src="/images/dairy_gallery9.jpg" alt="image" />
                                                        <div class="gallery_overlay">
                                                            <a href="/images/dairy_gallery_big9.jpg" class="view_image"><span><img src="images/gallery_plus.png" alt="image" /></span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="gallery_grid_item">
                                                    <div class="gallery_image">
                                                        <img src="/images/dairy_gallery2.jpg" alt="image" />
                                                        <div class="gallery_overlay">
                                                            <a href="/images/dairy_gallery_big2.jpg" class="view_image"><span><img src="images/gallery_plus.png" alt="image" /></span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="gallery_grid_item">
                                                    <div class="gallery_image">
                                                        <img src="/images/dairy_gallery7.jpg" alt="image" />
                                                        <div class="gallery_overlay">
                                                            <a href="/images/dairy_gallery_big7.jpg" class="view_image"><span><img src="images/gallery_plus.png" alt="image" /></span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="gallery_grid_item">
                                                    <div class="gallery_image">
                                                        <img src="/images/dairy_gallery4.jpg" alt="image" />
                                                        <div class="gallery_overlay">
                                                            <a href="/images/dairy_gallery_big4.jpg" class="view_image"><span><img src="images/gallery_plus.png" alt="image" /></span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="gallery_grid_item">
                                                    <div class="gallery_image">
                                                        <img src="/images/dairy_gallery10.jpg" alt="image" />
                                                        <div class="gallery_overlay">
                                                            <a href="/images/dairy_gallery_big10.jpg" class="view_image"><span><img src="images/gallery_plus.png" alt="image" /></span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="gallery_slide">
                                            <div class="gallery_grid">
                                                <div class="gallery_grid_item">
                                                    <div class="gallery_image">
                                                        <img src="/images/dairy_gallery1.jpg" alt="image" />
                                                        <div class="gallery_overlay">
                                                            <a href="/images/dairy_gallery_big1.jpg" class="view_image"><span><img src="images/gallery_plus.png" alt="image" /></span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="gallery_grid_item">
                                                    <div class="gallery_image">
                                                        <img src="/images/dairy_gallery3.jpg" alt="image" />
                                                        <div class="gallery_overlay">
                                                            <a href="/images/dairy_gallery_big3.jpg" class="view_image"><span><img src="images/gallery_plus.png" alt="image" /></span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="gallery_grid_item">
                                                    <div class="gallery_image">
                                                        <img src="/images/dairy_gallery6.jpg" alt="image" />
                                                        <div class="gallery_overlay">
                                                            <a href="/images/dairy_gallery_big6.jpg" class="view_image"><span><img src="images/gallery_plus.png" alt="image" /></span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="gallery_grid_item">
                                                    <div class="gallery_image">
                                                        <img src="/images/dairy_gallery8.jpg" alt="image" />
                                                        <div class="gallery_overlay">
                                                            <a href="/images/dairy_gallery_big8.jpg" class="view_image"><span><img src="images/gallery_plus.png" alt="image" /></span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="gallery_grid_item">
                                                    <div class="gallery_image">
                                                        <img src="/images/dairy_gallery5.jpg" alt="image" />
                                                        <div class="gallery_overlay">
                                                            <a href="/images/dairy_gallery_big5.jpg" class="view_image"><span><img src="images/gallery_plus.png" alt="image" /></span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="gallery_grid_item">
                                                    <div class="gallery_image">
                                                        <img src="/images/dairy_gallery9.jpg" alt="image" />
                                                        <div class="gallery_overlay">
                                                            <a href="/images/dairy_gallery_big9.jpg" class="view_image"><span><img src="images/gallery_plus.png" alt="image" /></span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="gallery_grid_item">
                                                    <div class="gallery_image">
                                                        <img src="/images/dairy_gallery2.jpg" alt="image" />
                                                        <div class="gallery_overlay">
                                                            <a href="/images/dairy_gallery_big2.jpg" class="view_image"><span><img src="images/gallery_plus.png" alt="image" /></span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="gallery_grid_item">
                                                    <div class="gallery_image">
                                                        <img src="/images/dairy_gallery7.jpg" alt="image" />
                                                        <div class="gallery_overlay">
                                                            <a href="/images/dairy_gallery_big7.jpg" class="view_image"><span><img src="images/gallery_plus.png" alt="image" /></span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="gallery_grid_item">
                                                    <div class="gallery_image">
                                                        <img src="/images/dairy_gallery4.jpg" alt="image" />
                                                        <div class="gallery_overlay">
                                                            <a href="/images/dairy_gallery_big4.jpg" class="view_image"><span><img src="images/gallery_plus.png" alt="image" /></span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="gallery_grid_item">
                                                    <div class="gallery_image">
                                                        <img src="/images/dairy_gallery10.jpg" alt="image" />
                                                        <div class="gallery_overlay">
                                                            <a href="/images/dairy_gallery_big10.jpg" class="view_image"><span><img src="images/gallery_plus.png" alt="image" /></span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="gallery_slide">
                                            <div class="gallery_grid">
                                                <div class="gallery_grid_item">
                                                    <div class="gallery_image">
                                                        <img src="/images/dairy_gallery1.jpg" alt="image" />
                                                        <div class="gallery_overlay">
                                                            <a href="/images/dairy_gallery_big1.jpg" class="view_image"><span><img src="images/gallery_plus.png" alt="image" /></span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="gallery_grid_item">
                                                    <div class="gallery_image">
                                                        <img src="/images/dairy_gallery3.jpg" alt="image" />
                                                        <div class="gallery_overlay">
                                                            <a href="/images/dairy_gallery_big3.jpg" class="view_image"><span><img src="images/gallery_plus.png" alt="image" /></span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="gallery_grid_item">
                                                    <div class="gallery_image">
                                                        <img src="/images/dairy_gallery6.jpg" alt="image" />
                                                        <div class="gallery_overlay">
                                                            <a href="/images/dairy_gallery_big6.jpg" class="view_image"><span><img src="images/gallery_plus.png" alt="image" /></span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="gallery_grid_item">
                                                    <div class="gallery_image">
                                                        <img src="/images/dairy_gallery8.jpg" alt="image" />
                                                        <div class="gallery_overlay">
                                                            <a href="/images/dairy_gallery_big8.jpg" class="view_image"><span><img src="images/gallery_plus.png" alt="image" /></span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="gallery_grid_item">
                                                    <div class="gallery_image">
                                                        <img src="/images/dairy_gallery5.jpg" alt="image" />
                                                        <div class="gallery_overlay">
                                                            <a href="/images/dairy_gallery_big5.jpg" class="view_image"><span><img src="images/gallery_plus.png" alt="image" /></span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="gallery_grid_item">
                                                    <div class="gallery_image">
                                                        <img src="/images/dairy_gallery9.jpg" alt="image" />
                                                        <div class="gallery_overlay">
                                                            <a href="/images/dairy_gallery_big9.jpg" class="view_image"><span><img src="images/gallery_plus.png" alt="image" /></span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="gallery_grid_item">
                                                    <div class="gallery_image">
                                                        <img src="/images/dairy_gallery2.jpg" alt="image" />
                                                        <div class="gallery_overlay">
                                                            <a href="/images/dairy_gallery_big2.jpg" class="view_image"><span><img src="images/gallery_plus.png" alt="image" /></span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="gallery_grid_item">
                                                    <div class="gallery_image">
                                                        <img src="/images/dairy_gallery7.jpg" alt="image" />
                                                        <div class="gallery_overlay">
                                                            <a href="/images/dairy_gallery_big7.jpg" class="view_image"><span><img src="images/gallery_plus.png" alt="image" /></span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="gallery_grid_item">
                                                    <div class="gallery_image">
                                                        <img src="/images/dairy_gallery4.jpg" alt="image" />
                                                        <div class="gallery_overlay">
                                                            <a href="/images/dairy_gallery_big4.jpg" class="view_image"><span><img src="images/gallery_plus.png" alt="image" /></span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="gallery_grid_item">
                                                    <div class="gallery_image">
                                                        <img src="/images/dairy_gallery10.jpg" alt="image" />
                                                        <div class="gallery_overlay">
                                                            <a href="/images/dairy_gallery_big10.jpg" class="view_image"><span><img src="images/gallery_plus.png" alt="image" /></span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Add Pagination -->
                                <div class="swiper-pagination"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Footer-->

        {{>Ecommfooter}}
